.widgetOption {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.widgetOption:hover {
  background-color: whitesmoke;
}
.widgetOption-articleLeft {
  color: #0177b7;
  margin-right: 5px;
}
.widgetOption-articleLeft > .MuiSvgIcon-root {
  font-size: 15px;
}
.widgetOption-articleRight {
  flex: 1;
}
.widgetOption-articleRight > h4 {
  font-size: 14px;
}
.widgetOption-articleRight > p {
  font-size: 12px;
  color: gray;
}
.widgetOption-articleRight > p:hover {
  font-weight: 600;
  font-size: 20px;
}
.widgetOption-articleRight > h4:hover {
  font-weight: 600;
  font-size: 20px;
}
